/* La base des links */
.nav-link {
    font-size: 18px;
    font-weight: 500;
    position: relative;
    color: #000;
}

/* Animation de sous-ligne */
.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 3px;
    background-color: #0056b3;
    transition: width 0.3s ease-in-out;
}

/* La ligne apparait sauf que le dropdown */
.nav-link:not(.dropdown-toggle):hover::after {
    width: 100%;
}

/* Remove la ligne sous le link dropdown */
.nav-link.dropdown-toggle::after {
    display: none;
}

/* Afficher dropdown on hover */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 4px;
}

/* App background pour PC */
.App {
    min-height: 100vh;
    background-image: url("./assets/bgArabesque.png");
    background-repeat: repeat;
    background-size: 8%;
    background-position: center;
}

/* App background pour MOBILE */
@media (max-width: 768px) {
    .App {
        background-size: 26%;
    }
}

/* Link de Footer a la base*/
.footer-link {
    color: #007bff;
    text-decoration: none;
    position: relative;
    display: inline-block;
    transition: color 0.3s ease;
}

/* Sous-ligne lors de Hover */
.footer-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #007bff;
    transition: width 0.3s ease;
}

.footer-link:hover::after {
    width: 100%;
}

/* Hover coleur et un petit lift */
.footer-link:hover {
    color: #0056b3;
    transform: translateY(-2px);
}

/* Same pour les icons de Social */
.social-link {
    font-size: 1.4rem;
    transition: transform 0.25s ease, color 0.25s ease;
}

.social-link:hover {
    transform: scale(1.3);
    color: #0056b3;
}